$large: 1100px;
$med: 800px;
$small: 600px;


%flexboxresume {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
}

$resumecolor: #025680;
$hovercolor: #0687c7;
$basicfontsize: 1.5vw;
$basicfontstyle: 'Roboto Slab', serif;
$resumebodyfont: 'Lora', serif;
$basicboxshadow: 1px 5px 50px -13px rgba(5,5,5,0.65);
$bodycolor: #EAE2B7;
$backcolor: linear-gradient(135deg, rgba(252,191,73,1) 51%,rgba(247,127,0,1) 100%);
$basicmargin: 0 5%;
$basicpadding: 15px;
$contactpadding: 0 30px;
$bradius: 12px;
$buttonstyle: 2px solid #003049;
$buttoncolor: #003049;
$parafontsize: 1.5vw;
$parafontstyle: 'Roboto', sans-serif;
$no-underline: none;
$subheadingborder: 2px groove #eae2b7;