html,
body {
    margin: 0;
    padding: 0;
    background: base.$backcolor;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: base.$basicfontstyle;
    color: base.$buttoncolor;
    font-size: base.$basicfontsize;
    
}